<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <!-- dazniausiai dedami failai reikalingi dokumentui veikti-->
        <link th:href="@{/css/stiliai.css}" href="../static/css/stiliai.css" type="text/css" rel="stylesheet">
    </head>

    <body>
<div class="mano-konteineris">
  <div class="raudonas-fonas mano-vienas-elementas">aaaa </div>
    <div class="remelis raudonas-fonas mano-vienas-elementas">aaaa</div>
    <div id="trecias-remelis" class="raudonas-fonas mano-vienas-elementas">aaaa</div>
</div>
    </body>

</html>